

.titulo-conta label{
    font-weight: bolder;
    font-size:22px;
    
}

.form-itens{
    max-width: 600px;
    min-width: auto;
}

div input{
    max-width: 400px;
    min-width: auto;
}

.btn-left{
    margin-left: 10px;
}