<div class="body-login">
    <div class="container-login">
        <div class="login-form">
            <div class="mt-5">
                <label class="titulo-login">Controle de Acessos</label>
            </div>
            <div class="mt-5">
                <div>
                    <label class="text-label-form">Email:</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="mt-3">
                    <label class="text-label-form">Senha:</label>
                    <input type="password" class="form-control"/>
                </div>
            </div>
            <div class="mt-5">
                <div class="botao-login">
                    <button type="submit" class="btn btn-success btn-login">Acessar</button>
                    <a href="#" class="criar-user mt-3">Criar Conta</a>
                </div>
            </div>
            <div class="mt-5">
                <label class="text-label-form">V8 TECHNOLOGY 2024 -  Todos os direitos reservados</label>
            </div>
        </div>
    </div>
</div>
